{% macro iconSvgMulti(name, class) %}
    <svg class="svg-icon {{class}}"><use xlink:href="icons/icons-multi.svg#icon-{{name}}"></use></svg>
{% endmacro %}

{% macro iconSvgMono(name, class) %}
    <svg class="svg-icon {{class}}"><use xlink:href="icons/icons-mono.svg#icon-{{name}}"></use></svg>
{% endmacro %}

{% macro iconPng(name, class) %}
    <i class="png-icon {{class}} {{name}}"></i>
{% endmacro %}