---
title: Головна
className: home-page

questions:
-   src: ./img/jpg/questions/q1.jpg
    title: Відчуваєш тривогу в режимі нонстоп?
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-   src: ./img/jpg/questions/q2.jpg
    title: чому хтось цінніший за тебе?
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-   src: ./img/jpg/questions/q3.jpg
    title: контролюєш себе?
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-   src: ./img/jpg/questions/q4.jpg
    title: Боїшся за своє майбутнє?
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
-   src: ./img/jpg/questions/q5.jpg
    title: Тебе не розуміють?
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
---
{% extends "layouts/_layout.njk" %}

{% block content %}
    {% include "components/_section-hero.njk" %}
    {% include "components/_section-questions.njk" %}
    {% include "components/_section-why-we.njk" %}
    {% include "components/_section-specialists.njk" %}
    {% include "components/_section-services.njk" %}
    {% include "components/_section-how-we-work.njk" %}
    {% include "components/_section-price.njk" %}
    {% include "components/_section-offer.njk" %}
    {% include "components/_section-step-to-consultation.njk" %}
    {% include "components/_section-successes.njk" %}
    {% include "components/_section-reviews.njk" %}
    {% include "components/_section-contacts.njk" %}
{% endblock %}