<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <!-- Link Swiper's CSS -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Demo styles -->
    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: auto;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .test {
            width: 100%;
            height: 100%;
            background-color: pink;
        }

        .container {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
            <div class="swiper-slide"><div class="test"></div></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
</body>
</html>
