.banner {

    display: flex;
    border-bottom-left-radius: 400px;
    border-top-left-radius: 400px;
    overflow: hidden;

    &__img {
        width: 37%;
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 63%;
        padding: 80px 146px 80px 80px;
        font-size: 27px;
        line-height: 1.4;
        background-color: #F9FAFB;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}