.button {
    padding: 16px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: $white;
    transition: background-color .3s, box-shadow .3s;

    &--w-auto {
        max-width: none;
        width: auto;
    }

    &--primary {
        background: $backGroundColorPrimaryBtn;
        box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
        border-radius: 150px;
        font-size: 30px;
        padding: 31px 68px;
        min-height: 98px;

        @include bp('desktop') {
            &:hover {
                background: darken($backGroundColorPrimaryBtn, 8%);
                box-shadow: 3px 3px 15px rgba(darken($backGroundColorPrimaryBtn, 8%), 1);
            }
        }
    }

    &--secondary {
        background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), $backGroundColorSecondaryBtn;
        border-radius: 150px;
        font-size: 18px;
        padding: 29px 26px;
        min-height: 80px;

        &:hover {
            background: radial-gradient(62.25% 62.25% at 50% 50%, rgba(83, 103, 121, 0.2) 0%, rgba(211, 221, 230, 0.174) 100%), darken($backGroundColorSecondaryBtn, 8%);
            box-shadow: 3px 3px 15px rgba(darken($backGroundColorSecondaryBtn, 8%), 1);
        }
    }
}
