.contacts {
    &__main {
        display: flex;
        margin-bottom: 46px;
    }

    &__links {
        display: flex;
        padding: 55px;
        background-color: #F9FAFB;
        margin-right: 60px;
        width: 60%;
        flex-shrink: 0;
    }

    &__links-list {
        flex-shrink: 0;
        width: 50%;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__links-list-item {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__links-list-item-title {
        margin-bottom: 20px;
    }

    &__desc {
        font-size: 22px;
        margin-bottom: 50px;
    }

    &__map {
        width: 40%;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    &__map--right-bottom-radius {
        border-bottom-right-radius: 400px;
        overflow: hidden;
    }
}