.container {
    width: 100%;
    max-width: 1540px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;

    @include bp('mobile') {
        padding-right: 20px;
        padding-left: 20px;
    }
}