.decoration-text {
    font-size: 20px;
    padding-left: 60px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        height: 3px;
        width: 45px;
        background-color: $bageColor;
    }

    &--big {
        font-size: 22px;
    }
}