.footer {
    border-top: 2px solid $bageColor;
    padding-top: 50px;
    padding-bottom: 50px;

    &__content {
        display: flex;
    }

    &__col {
        flex-grow: 0;
        margin-right: 30px;

        &--flex {
            display: flex;
        }

        &--nav, &--type {
            padding-top: 40px;
        }

        &--nav {
            width: 26%;
        }

        &--contacts {
            width: 32%;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__logo {
        font-size: 276px;
        height: 93px;
        margin-bottom: 20px;
        fill: $secondaryColor;
    }

    &__type-list {
        margin-bottom: 25px;
    }

    &__type-list-item {
        font-weight: 700;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__nav {
        width: 38%;
        margin-right: 40px;
        color: $secondaryColor;

        &:last-child {
            margin-right: 0;
        }
    }

    &__nav-item {
        margin-bottom: 25px;
        font-size: 22px;

        a {
            display: inline-flex;
            align-items: center;
        }

        svg {
            font-size: 40px;
            margin-left: 15px;
            fill: $secondaryColor;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__social-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__social-list-item {
        margin-right: 25px;
        margin-bottom: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__contacts-list {
        margin-bottom: 30px;
    }

    &__contacts-list-item {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}