input, textarea, select {
    height: 80px;
    padding: 16px 60px;
    line-height: 1.3;
    font-size: 18px;
    font-weight: 700;
    color: lighten($mainColor, 15%);
    width: 100%;
    border: 1px solid #99C1E2;
    border-radius: 150px;

    &::placeholder {
        color: $colorForPlaceholder;
    }

    &:focus {
        outline: darken(#99C1E2, 10%);
    }
}

textarea {
    min-height: 124px;

    @include bp('mobile') {
        min-height: 96px;
    }
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96.154' height='96.154' fill='%2399C1E2'%3E%3Cpath d='M.561 20.971l45.951 57.605c.76.951 2.367.951 3.127 0l45.956-57.609c.547-.689.709-1.716.414-2.61-.061-.187-.129-.33-.186-.437-.351-.65-1.025-1.056-1.765-1.056H2.093A2 2 0 0 0 .331 17.92a2.62 2.62 0 0 0-.184.426c-.297.905-.136 1.934.414 2.625z'/%3E%3C/svg%3E");
    background-position: right 30px center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 20px 20px;
    padding: 16px 60px 16px 60px;
}