.header {
    padding-top: 20px;
    border-bottom: 2px solid $bageColor;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 34px;
    }

    &__logo {
        margin-right: 40px;
    }

    &__logo-icon {
        font-size: 276px;
        height: 93px;
        fill: $secondaryColor;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__actions-item {
        margin-right: 26px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
    }

    &__list-item {
        font-size: 22px;
        color: $secondaryColor;
        margin-right: 4.1%;
        align-self: stretch;
        display: flex;
        align-items: center;
        position: relative;
        padding-bottom: 20px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            .nav__list-item-link {
                padding-left: 0;
            }
        }
    }

    &__list-item-link {
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;

        &.is-active {
            .nav__list-item-link-text {
                &:before {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        @include bp('desktop') {
            &:hover {
                .nav__list-item-link-text {
                    &:before {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__list-item-link-text {
        display: inline-flex;
        align-items: center;

        &:before {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            height: 6px;
            width: 100%;
            background-color: $pink;
            border-radius: 6px;
            visibility: hidden;
            opacity: 0;
            transition: visibility .3s, opacity .3s;
        }

        svg {
            font-size: 40px;
            margin-left: 15px;
        }
    }
}