.how-we-work {
    display: flex;
    justify-content: space-between;

    &__col {
        flex-shrink: 0;
        width: 49%;
    }

    &__title {
        padding: 60px;
        width: 73%;
        margin: 0 auto 46px auto;
        text-align: center;
        font-size: 30px;

        &--light {
            background-color: #F9FAFB;
        }

        &--dark {
            background-color: $bageColor;
        }

        &--left {
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
        }

        &--right {
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
        }
    }

    &__list-item {
        margin-bottom: 16px;
        padding-right: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}