.main-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.3;
    font-family: 'Cormorant', "Times New Roman", serif;
    color: $secondaryColor;

    &--upper {
        text-transform: uppercase;
    }

    &--pink {
        color: $pink;
    }
}