.need-help {
    text-align: center;
    padding-top: 120px;
    position: relative;

    &__img {
        position: absolute;
        transform: translate(298px, -149px);
    }

    &__desc {
        max-width: 1030px;
        margin: 0 auto 40px auto;
        padding: 46px 146px;
        font-weight: bold;
        font-size: 27px;
        line-height: 1.3;
        color: $secondaryColor;
        background: #F9FAFB;
        box-shadow: 3px 3px 6px rgba(203, 177, 160, 0.04);
    }
}