.person-card {
    background-color: #F9FAFB;

    &__content {
        padding: 30px 26px 60px;
        display: flex;
        flex-direction: column;
    }

    &__top {
        margin-bottom: 50px;
    }

    &__bottom {
        text-align: center;
        margin-top: auto;
    }

    &__wrap-img {
        position: relative;
        padding-bottom: 129%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__position {
        display: inline-block;
        font-size: 22px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__wrap-position {
        margin-bottom: 46px;
    }

    &__list {
        margin-bottom: 50px;

        &-item {
            margin-bottom: 25px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                font-size: 50px;
                margin-right: 25px;
                fill: $bageColor;
            }
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;

        &-item {
            margin-right: 10px;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}