.persons-slider {
    width: 100%;

    .swiper-slide {
        height: 100%;
        transition: transform .3s;
        position: relative;
        transform: scale(.9) translateZ(0);

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(211, 221, 230, 0.51);
            transition: visibility .3s, opacity .3s;
            visibility: visible;
            opacity: 1;
        }

        &.swiper-slide-active {
            overflow: hidden;
            transform: scale(1) translateZ(0);

            &:after {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}