.price-card {
    background-color: #F9FAFB;
    padding: 60px 69px 60px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__wrap-title {
        margin-bottom: 50px;
    }

    &__bottom {
        margin-top: auto;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        svg {
            flex-shrink: 0;
            font-size: 35px;
            margin-right: 12px;
            fill: $mainColor;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__totals {
        margin-bottom: 30px;
        display: flex;
        justify-content: flex-end;
        font-family: 'Cormorant', "Times New Roman", serif;
        font-size: 60px;
    }

    &__total {
        margin-left: auto;

        &:first-child {
            margin-left: 0;
        }
    }

    &__total-price {
        margin-bottom: 10px;
    }

    &__total-text {
        text-align: center;
        font-size: 20px;
        font-family: $mainFont;
        font-weight: 700;
    }

    &__action {
        text-align: center;
    }

    &__bage {
        font-size: 30px;
        font-weight: 700;
        color: $bageColor;
        position: absolute;
        right: 20px;
        top: 16px;

        small {
            font-size: 16px;
        }
    }
}