.question {
    display: flex;
    overflow: hidden;

    &--left-top-radius {
        border-top-left-radius: 400px;
    }

    &--right-top-radius {
        border-top-right-radius: 400px;
    }

    &--bg-grey {
        background-color: #F9FAFB;
    }

    &__img {
        width: 26%;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 74%;
        padding: 67px 56px 70px 214px;
    }

    &__wrap-title {
        margin-bottom: 64px;
    }

    &__wrap-text {
        width: 60%;

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}