.secondary-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    color: $mainColor;

    &--upper {
        text-transform: uppercase;
    }

    &--secondary-color {
        color: $secondaryColor;
    }

    &--cormorant {
        font-family: 'Cormorant', "Times New Roman", serif;
    }
}