.services {
    display: flex;

    &__wrap-img {
        width: 41.5%;
        flex-shrink: 0;
        border-top-right-radius: 400px;
        overflow: hidden;
    }

    &__img {
        padding-bottom: 105%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    &__accordion {
        width: 58.5%;
        border-left: 2px solid $bageColor;

        .badger-accordion__header:not(:last-of-type) {
            border-bottom: 2px solid $bageColor;
        }

        .badger-accordion__header {
            cursor: pointer;
            padding: 41px 40px;
            color: $bageColor;
            transition: color .3s;
            position: relative;
            font-size: 30px;


            .badger-accordion__trigger {
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -4px;
                    width: 6px;
                    height: 100%;
                    background-color: $pink;
                    border-radius: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility .3s, opacity .3s;
                }

                &.-ba-is-active {
                    font-weight: 700;
                    color: $secondaryColor;

                    &:before {
                        visibility: visible;
                        opacity: 1;
                    }

                    &:after {
                        background-color: $white;
                        bottom: -2px;
                        content: "";
                        height: 2px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                    }
                }
            }
        }

        .badger-accordion__panel {
            position: relative;
        }

        .badger-accordion__panel:after {
            background-color: $bageColor;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            width: 100%;
        }

        .badger-accordion__panel-inner {
            padding: 0 20% 55px 37px;
        }
    }

    &__panel-text {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
}