.social-link {
    display: flex;
    align-items: center;

    &__icon {
        flex-shrink: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: $bageColor;
        width: 40px;
        height: 40px;
        overflow: hidden;
        transition: background-color .3s;

        &-svg {
            font-size: 20px;
            fill: $white;
        }

        &--big {
            width: 60px;
            height: 60px;

            .social-link__icon-svg {
                font-size: 30px;
            }
        }
    }

    &__text {
        margin-left: 16px;
        font-size: 22px;
        color: $mainColor;
        position: relative;

        &:after {
            content:'';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -3px;
            left: 0;
            background-color: $mainColor;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s;
        }
    }

    @include bp('desktop') {
        &:hover {
            cursor: pointer;

            .social-link__icon {
                background-color: $mainColor;
            }

            .social-link__text {
                &:after {
                    transform-origin: bottom left;
                    transform: scaleX(1);
                }
            }
        }
    }
}