@import "../../../node_modules/swiper/swiper-bundle";

.swiper {
    width: 100%;
    padding-bottom: 105px;
}

.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background: linear-gradient(180deg, rgba(247, 151, 129, 0.2) 0%, rgba(242, 218, 213, 0) 100%), rgba(247, 151, 129, 0.7);
        border: none;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        width: 30px;
        height: 30px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(242, 218, 213, 0) 100%), $pink;
    }
}