.tag {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: $mainColor;
    border: 2px solid $mainColor;
    padding: 18px 30px;
    border-radius: 50px;
    text-transform: uppercase;
}