.why-we {
    display: flex;

    &__img {
        width: 29%;
        flex-shrink: 0;
        background-position: center;
        background-size: cover;
    }

    &__content {
        width: 71%;
        padding-right: 40px;
    }

    &__list {
        margin-bottom: 40px;
        font-size: 30px;

        &-item {
            margin-bottom: 40px;
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            svg {
                fill: $pink;
                font-size: 35px;
                margin-right: 25px;
            }
        }
    }

    &__link {
        font-size: 30px;
        display: inline-flex;
        align-items: center;

        &-text {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
            }
        }

        svg {
            font-size: 36px;
            margin-left: 10px;
            fill: $pink;
            transition: transform .3s;
        }

        @include bp('desktop') {
            &:hover {
                svg {
                    transform: translateX(10px);
                }
            }
        }
    }
}