@mixin bp($breakpoint) {
    @if $breakpoint == iphone5 {
        @media (min-width: 320px) and (max-width: 374px) { @content; }
    }

    @else if $breakpoint == mobile-small {
        @media (min-width: 320px) and (max-width: 374px) { @content; }
    }

    @else if $breakpoint == mobile-large {
        @media (min-width: 376px) and (max-width: 767px) { @content; }
    }

    @else if $breakpoint == mobile {
        @media (max-width: 767px) { @content; }
    }

    @else if $breakpoint == mobile-and-tablet-only {
        @media (max-width: 1024px) { @content; }
    }

    @else if $breakpoint == tablet {
        @media (min-width: 768px) { @content; }
    }

    @else if $breakpoint == tablet-only {
        @media (min-width: 768px) and (max-width: 1024px) { @content; }
    }

    @else if $breakpoint == desktop {
        @media (min-width: 1025px) { @content; }
    }

    @else if $breakpoint == desktop-small {
        @media (max-width: 1280px) { @content; }
    }

    @else if $breakpoint == desktop-middle {
        @media (min-width: 1200px) { @content; }
    }

    @else if $breakpoint == iPhoneX {
        @media only screen
        and (min-device-width : 375px)
        and (max-device-height : 812px)
        and (-webkit-device-pixel-ratio : 3) { @content; }
    }

    @else {
        @warn "You must use one of the following keys: iphone5, mobile, tablet, desktop";
    }
}