// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$alarm-name: 'alarm';
$alarm-x: 0px;
$alarm-y: 0px;
$alarm-offset-x: 0px;
$alarm-offset-y: 0px;
$alarm-width: 48px;
$alarm-height: 48px;
$alarm-total-width: 101px;
$alarm-total-height: 48px;
$alarm-image: '/icons/png-sprite.png';
$alarm: (0px, 0px, 0px, 0px, 48px, 48px, 101px, 48px, '/icons/png-sprite.png', 'alarm', );
$smile-name: 'smile';
$smile-x: 53px;
$smile-y: 0px;
$smile-offset-x: -53px;
$smile-offset-y: 0px;
$smile-width: 48px;
$smile-height: 48px;
$smile-total-width: 101px;
$smile-total-height: 48px;
$smile-image: '/icons/png-sprite.png';
$smile: (53px, 0px, -53px, 0px, 48px, 48px, 101px, 48px, '/icons/png-sprite.png', 'smile', );
$alarm-2x-name: 'alarm@2x';
$alarm-2x-x: 0px;
$alarm-2x-y: 0px;
$alarm-2x-offset-x: 0px;
$alarm-2x-offset-y: 0px;
$alarm-2x-width: 96px;
$alarm-2x-height: 96px;
$alarm-2x-total-width: 202px;
$alarm-2x-total-height: 96px;
$alarm-2x-image: '/icons/png-sprite@2x.png';
$alarm-2x: (0px, 0px, 0px, 0px, 96px, 96px, 202px, 96px, '/icons/png-sprite@2x.png', 'alarm@2x', );
$smile-2x-name: 'smile@2x';
$smile-2x-x: 106px;
$smile-2x-y: 0px;
$smile-2x-offset-x: -106px;
$smile-2x-offset-y: 0px;
$smile-2x-width: 96px;
$smile-2x-height: 96px;
$smile-2x-total-width: 202px;
$smile-2x-total-height: 96px;
$smile-2x-image: '/icons/png-sprite@2x.png';
$smile-2x: (106px, 0px, -106px, 0px, 96px, 96px, 202px, 96px, '/icons/png-sprite@2x.png', 'smile@2x', );
$spritesheet-width: 101px;
$spritesheet-height: 48px;
$spritesheet-image: '/icons/png-sprite.png';
$spritesheet-sprites: ($alarm, $smile, );
$spritesheet: (101px, 48px, '/icons/png-sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 202px;
$retina-spritesheet-height: 96px;
$retina-spritesheet-image: '/icons/png-sprite@2x.png';
$retina-spritesheet-sprites: ($alarm-2x, $smile-2x, );
$retina-spritesheet: (202px, 96px, '/icons/png-sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$alarm-group-name: 'alarm';
$alarm-group: ('alarm', $alarm, $alarm-2x, );
$smile-group-name: 'smile';
$smile-group: ('smile', $smile, $smile-2x, );
$retina-groups: ($alarm-group, $smile-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
