<form action="" class="contacts-form">
    <div class="contacts-form__col">
        <input type="text" placeholder="Марія">
    </div>
    <div class="contacts-form__col">
        <input type="tel" placeholder="+ 38 (000) 000-00-00">
    </div>
    <div class="contacts-form__col">
        <input type="text" placeholder="ЩО ВАС ТУРБУЄ?">
    </div>
    <div class="contacts-form__col">
        <button type="submit" class="button button--secondary">зателефонуйте мені</button>
    </div>
</form>