<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__col footer__col--contacts">
                {{mixins.iconSvgMono('logo', 'footer__logo')}}

                <ul class="footer__contacts-list">
                    <li class="footer__contacts-list-item">
                        <a href="tel:+380974070110" class="social-link">
                            <span class="social-link__icon">
                                {{mixins.iconSvgMono('phone', 'social-link__icon-svg')}}
                            </span>
                            <span class="social-link__text">+38 (097) <strong>407-01-10</strong></span>
                        </a>
                    </li>
                    <li class="footer__contacts-list-item">
                        <a href="mailto:hello@mgoroshenko.com.ua" class="social-link">
                            <span class="social-link__icon">
                                {{mixins.iconSvgMono('mail', 'social-link__icon-svg')}}
                            </span>
                            <span class="social-link__text">hello@mgoroshenko.com.ua</span>
                        </a>
                    </li>
                    <li class="footer__contacts-list-item">
                        <a href="https://goo.gl/maps/3Z6tFb9fdDr1GCsF8" class="social-link">
                            <span class="social-link__icon">
                                {{mixins.iconSvgMono('geo', 'social-link__icon-svg')}}
                            </span>
                            <span class="social-link__text">Львів, вул. Зелена 44</span>
                        </a>
                    </li>
                </ul>
                <button class="button button--secondary">Вам передзвонити?</button>
            </div>
            <div class="footer__col footer__col--flex footer__col--nav">
                <ul class="footer__nav">
                    <li class="footer__nav-item">
                        <a href="#" class="link">Психологам</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Семінари</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Відгуки</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Контакти</a>
                    </li>
                </ul>
                <ul class="footer__nav">
                    <li class="footer__nav-item">
                        <a href="#" class="link">Головна</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Про нас</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Послуги</a>
                    </li>
                    <li class="footer__nav-item">
                        <a href="#" class="link">Ціни</a>
                    </li>
                    <li class="footer__nav-item footer__nav-item--bold">
                        <a href="#">
                            <span class="link">Оплата</span>
                            {{mixins.iconSvgMono('wallet')}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--type">
                <ul class="footer__type-list">
                    <li class="footer__type-list-item">
                        <a href="#" class="link link--bold">Сімейний психотерапевт</a>
                    </li>
                    <li class="footer__type-list-item">
                        <a href="#" class="link link--bold">Дитячий психотерапевт</a>
                    </li>
                    <li class="footer__type-list-item">
                        <a href="#" class="link link--bold">Індивідуальні заняття</a>
                    </li>
                </ul>

                <ul class="footer__social-list">
                    <li class="footer__social-list-item">
                        <a href="#" class="social-link">
                            <span class="social-link__icon social-link__icon--big">
                                {{mixins.iconSvgMono('instagram', 'social-link__icon-svg')}}
                            </span>
                        </a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="#" class="social-link">
                            <span class="social-link__icon social-link__icon--big">
                                {{mixins.iconSvgMono('telegram', 'social-link__icon-svg')}}
                            </span>
                        </a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="#" class="social-link">
                            <span class="social-link__icon social-link__icon--big">
                                {{mixins.iconSvgMono('viber', 'social-link__icon-svg')}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>