<header class="header">
    <div class="container">
        <div class="header__main">
            <div class="header__top">
                <a class="header__logo">
                    {{mixins.iconSvgMono('logo', 'header__logo-icon')}}
                </a>
                <div class="header__actions">
                    <div class="header__actions-item">
                        <a href="https://goo.gl/maps/3Z6tFb9fdDr1GCsF8" class="social-link">
                            <span class="social-link__icon">
                                {{mixins.iconSvgMono('geo', 'social-link__icon-svg')}}
                            </span>
                            <span class="social-link__text">Львів, вул. Зелена 44</span>
                        </a>
                    </div>
                    <div class="header__actions-item">
                        <a href="tel:+380974070110" class="social-link">
                        <span class="social-link__icon">
                            {{mixins.iconSvgMono('phone', 'social-link__icon-svg')}}
                        </span>
                            <span class="social-link__text">+38 (097) 407-01-10</span>
                        </a>
                    </div>
                    <div class="header__actions-item">
                        <button class="button button--secondary">Вам передзвонити?</button>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link is-active">
                            <span class="nav__list-item-link-text">Головна</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Про нас</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Послуги</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Ціни</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Психологам</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Семінари</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Відгуки</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text">Контакти</span>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="#" class="nav__list-item-link">
                            <span class="nav__list-item-link-text"><strong>Оплата</strong>{{mixins.iconSvgMono('wallet')}}</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</header>