<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">практичної психології</h2>
        </div>
        <div class="section__content">

        </div>
    </div>
</section>