<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Ціни</h2>
        </div>
        <div class="section__content">
            <div class="swiper price-slider js-price-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="price-card">
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Консультація у власниці центру</h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="price-card">
                            <span class="price-card__bage">
                                60 <small>хвилин</small>
                            </span>
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Перша <span class="text--light-blue">консультація</span></h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--blue">300₴</p>
                                        </div>
                                        <p class="price-card__total-text">Онлайн</p>
                                    </div>
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                        <p class="price-card__total-text">Офлайн</p>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="price-card">
                            <span class="price-card__bage">
                                60 <small>хвилин</small>
                            </span>
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Наступна <span class="text--light-blue">консультація</span></h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--blue">300₴</p>
                                        </div>
                                        <p class="price-card__total-text">Онлайн</p>
                                    </div>
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                        <p class="price-card__total-text">Офлайн</p>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="price-card">
                            <span class="price-card__bage">
                                60 <small>хвилин</small>
                            </span>
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Консультація у власниці центру</h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--blue">300₴</p>
                                        </div>
                                        <p class="price-card__total-text">Онлайн</p>
                                    </div>
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                        <p class="price-card__total-text">Офлайн</p>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="price-card">
                            <span class="price-card__bage">
                                60 <small>хвилин</small>
                            </span>
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Консультація у власниці центру</h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--blue">300₴</p>
                                        </div>
                                        <p class="price-card__total-text">Онлайн</p>
                                    </div>
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                        <p class="price-card__total-text">Офлайн</p>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="price-card">
                            <span class="price-card__bage">
                                60 <small>хвилин</small>
                            </span>
                            <div class="price-card__top">
                                <div class="price-card__wrap-title">
                                    <h3 class="secondary-title secondary-title--upper">Консультація у власниці центру</h3>
                                </div>
                                <ul class="price-card__list">
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                    <li class="price-card__list-item">
                                        {{mixins.iconSvgMono('check')}}
                                        <span>Lorem ipsum dolor sit amet</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="price-card__bottom">
                                <div class="price-card__totals">
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--blue">300₴</p>
                                        </div>
                                        <p class="price-card__total-text">Онлайн</p>
                                    </div>
                                    <div class="price-card__total">
                                        <div class="price-card__total-price">
                                            <p class="price price--pink">400₴</p>
                                        </div>
                                        <p class="price-card__total-text">Офлайн</p>
                                    </div>
                                </div>
                                <div class="price-card__action">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>