<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Наші спеціалісти</h2>
        </div>
        <div class="section__content">
            <div class="swiper persons-slider js-persons-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="person-card">
                            <div class="person-card__wrap-img">
                                <img src="./img/jpg/person-card-img.jpg" alt="">
                            </div>
                            <div class="person-card__content">
                                <div class="person-card__top">
                                    <span class="person-card__position">Психолог</span>
                                    <div class="person-card__wrap-position">
                                        <h3 class="secondary-title secondary-title--upper secondary-title--cormorant secondary-title--secondary-color">Катерина Іваненко</h3>
                                    </div>
                                    <ul class="person-card__list">
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('education')}}
                                            Вища освіта
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('verify')}}
                                            Підвищення кваліфікації
                                        </li>
                                        <li class="person-card__list-item">
                                            {{mixins.iconSvgMono('time')}}
                                            Підтримка 24/7
                                        </li>
                                    </ul>
                                    <ul class="person-card__tags">
                                        <li class="person-card__tags-item">
                                            <span class="tag">відносини у сім’ї</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">гештальт</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">страхи</span>
                                        </li>
                                        <li class="person-card__tags-item">
                                            <span class="tag">психотравма</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="person-card__bottom">
                                    <button class="button button--primary">Записатися</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>