<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Контакти</h2>
        </div>
        <div class="section__content">
            <div class="contacts">
                <div class="contacts__main">
                    <div class="contacts__links">
                        <ul class="contacts__links-list">
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Адреса</h3>
                                <a href="https://goo.gl/maps/3Z6tFb9fdDr1GCsF8" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('geo', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">Львів, вул. Зелена 44</span>
                                </a>
                            </li>
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Телефон</h3>
                                <a href="tel:+380974070110" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('phone', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">+38 (097) <strong>407-01-10</strong></span>
                                </a>
                            </li>
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Email</h3>
                                <a href="mailto:hello@mgoroshenko.com.ua" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('mail', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">hello@mgoroshenko.com.ua</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="contacts__links-list">
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Instagram</h3>
                                <a href="#" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('instagram', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">Написати</span>
                                </a>
                            </li>
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Telegram</h3>
                                <a href="#" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('telegram', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">Написати</span>
                                </a>
                            </li>
                            <li class="contacts__links-list-item">
                                <h3 class="contacts__links-list-item-title">Viber</h3>
                                <a href="#" class="social-link">
                                <span class="social-link__icon">
                                    {{mixins.iconSvgMono('viber', 'social-link__icon-svg')}}
                                </span>
                                    <span class="social-link__text">Написати</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__map contacts__map--right-bottom-radius">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.621261914486!2d24.03969771570908!3d49.830783179394686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add5cbf69235d%3A0x7d4bd017581c6e38!2z0YPQuy4g0JfQtdC70ZHQvdCw0Y8sIDQ0LCDQm9GM0LLQvtCyLCDQm9GM0LLQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e0!3m2!1sru!2sua!4v1650815972684!5m2!1sru!2sua" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <p class="contacts__desc">
                    Залишились питання? Заповніть форму і ми <br/>вам зателефонуємо через 5 хвилин
                </p>
                {% include "./_contacts-form.njk" %}
            </div>
        </div>
    </div>
</section>