
<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Як ми працюємо?</h2>
        </div>
        <div class="section__content">
            <div class="how-we-work">
                <div class="how-we-work__col">
                    <h3 class="how-we-work__title how-we-work__title--light how-we-work__title--left">Онлайн</h3>
                    <ul class="how-we-work__list">
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elitipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                    </ul>
                </div>
                <div class="how-we-work__col">
                    <h3 class="how-we-work__title how-we-work__title--dark how-we-work__title--right">Офлайн</h3>
                    <ul class="how-we-work__list">
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                        <li class="how-we-work__list-item">
                            <p class="decoration-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>