
<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Чому саме ми? </h2>
        </div>
        <div class="section__content">
            <div class="why-we">
                <div class="why-we__content">
                    <ul class="why-we__list">
                        <li class="why-we__list-item">
                            {{mixins.iconSvgMono('check')}}
                            <strong>75%</strong>&nbsp;людей залишаються з нами й надалі
                        </li>
                        <li class="why-we__list-item">
                            {{mixins.iconSvgMono('check')}}
                            <strong>24/7</strong>&nbsp;- час, який можемо тобі присвятити
                        </li>
                        <li class="why-we__list-item">
                            {{mixins.iconSvgMono('check')}}
                            Ми&nbsp;<strong>персонально</strong>&nbsp;під тебе складемо план нашої роботи
                        </li>
                        <li class="why-we__list-item">
                            {{mixins.iconSvgMono('check')}}
                            Наші фахівці вивчають&nbsp;<strong>нові підходи</strong>&nbsp;до терапії
                        </li>
                        <li class="why-we__list-item">
                            {{mixins.iconSvgMono('check')}}
                            <strong>Європейські</strong>&nbsp;методи терапії
                        </li>
                    </ul>
                    <a class="why-we__link" href="#">
                        <span class="why-we__link-text">Детальніше</span>
                        {{mixins.iconSvgMono('arrow')}}
                    </a>
                </div>
                <div class="why-we__img" style="background-image: url('./img/jpg/why-we.jpg"></div>
            </div>

            <div class="banner">
                <div class="banner__img" style="background-image: url('./img/jpg/banner.jpg"></div>
                <div class=banner__content>
                    <p><strong>Зменшили вартість</strong> наших послуг на час військових дій. <strong>Все буде Україна!</strong></p>
                    <p>Нехай панічні атаки та тривожність йдуть слідом за орками</p>
                </div>
            </div>
        </div>
    </div>
</section>