<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Відгуки</h2>
        </div>
        <div class="section__content">
            <div class="swiper js-reviews-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-1.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-2.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-3.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-4.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-5.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-6.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-7.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-8.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-9.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(https://swiperjs.com/demos//images/nature-10.jpg)"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>