
<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">коли До нас звертаються</h2>
        </div>
        <div class="section__content">
            {% for item in questions %}
                {% if loop.index % 2 === 0 %}
                    <div class="question question--right-top-radius question--bg-grey">
                        <div class="question__content">
                            <div class="question__wrap-title">
                                <h3 class="secondary-title secondary-title--upper">{{item.title}}</h3>
                            </div>
                            <div class="question__wrap-text">
                                <p class="decoration-text decoration-text--big">
                                    {{item.text}}
                                </p>
                            </div>
                        </div>
                        <div class="question__img" style="background-image: url('{{item.src}}')"></div>
                    </div>
                {% else %}
                    <div class="question question--left-top-radius">
                        <div class="question__img" style="background-image: url('{{item.src}}')"></div>
                        <div class="question__content">
                            <div class="question__wrap-title">
                                <h3 class="secondary-title secondary-title--upper">{{item.title}}</h3>
                            </div>
                            <div class="question__wrap-text">
                                <p class="decoration-text decoration-text--big">
                                    {{item.text}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="need-help">
                <img class="need-help__img" src="./img/svg/arrow-1.svg" alt="Decoration arrow">
                <p class="need-help__desc">Вихід один - записатися до спеціаліста та почати жити вільно!</p>
                <button class="button button--primary">Записатися</button>
            </div>
        </div>
    </div>
</section>