<section class="section">
    <div class="container">
        <div class="section__top">
            <h2 class="main-title main-title--upper">Наші Послуги</h2>
        </div>
        <div class="section__content">
            <div class="services">
                <div class="services__accordion">
                    <div class="js-badger-accordion">
                        <div class="badger-accordion__header">
                            <div class="badger-accordion__trigger js-badger-accordion-header -ba-is-active">
                                Сімейний психотерапевт
                            </div>
                        </div>
                        <div class="badger-accordion__panel js-badger-accordion-panel -ba-is-active">
                            <div class="js-badger-accordion-panel-inner">
                                <div class="badger-accordion__panel-inner">
                                    <div class="services__panel-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="badger-accordion__header">
                            <div class="badger-accordion__trigger js-badger-accordion-header">
                                Дитячий психотерапевт
                            </div>
                        </div>
                        <div class="badger-accordion__panel js-badger-accordion-panel">
                            <div class="js-badger-accordion-panel-inner">
                                <div class="badger-accordion__panel-inner">
                                    <div class="services__panel-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="badger-accordion__header">
                            <div class="badger-accordion__trigger js-badger-accordion-header">
                                Індивідуальні заняття
                            </div>
                        </div>
                        <div class="badger-accordion__panel js-badger-accordion-panel">
                            <div class="js-badger-accordion-panel-inner">
                                <div class="badger-accordion__panel-inner">
                                    <div class="services__panel-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services__wrap-img">
                    <div class="services__img" style="background-image: url('./img/jpg/services.jpg')">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>