@include font-face('Montserrat', '../fonts/montserrat/Montserrat-Bold', 700);
@include font-face('Montserrat', '../fonts/montserrat/Montserrat-Regular', 400);

@include font-face('Cormorant', '../fonts/cormorant/Cormorant-Bold', 700);

@include sprites($spritesheet-sprites);
@include retina-sprites($retina-groups);

$white: #fff;
$pink: #F79781;
$blue: #98C5EB;
$mainColor: #536779;
$secondaryColor: #264158;
$bageColor: #D3DDE6;
$backGroundColorSecondaryBtn: $blue;
$backGroundColorPrimaryBtn: $pink;
$colorForPlaceholder: $bageColor;
$mainFont: 'Montserrat', Arial, serif, sans-serif;


body {
    background-color: $white;
    color: $mainColor;
    font-weight: 400;
    font-family: $mainFont;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.text--light-blue {
    color: $bageColor;
}

.link {
    display: inline-block;
    position: relative;

    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -3px;
        left: 0;
        background-color: $mainColor;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
    }

    @include bp('desktop') {
        &:hover {
            &:after {
                transform-origin: bottom left;
                transform: scaleX(1);
            }
        }
    }

    &--bold {
        &:after {
            height: 2px;
            bottom: -4px;
        }
    }
}


.home-page {
    .why-we {
        margin-bottom: 150px;
    }
}